html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.header {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 75px;
  box-sizing: border-box;
  background: linear-gradient(90deg, cornflowerblue, white);
  display: flex;
  justify-content: center;
  align-items: center;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.header ul li {
  margin: 30px;
}

.header a {
  color: #3b5998;
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
  transition: 300ms;
}

.header a:hover {
  color: #4c4c4c;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
}

.wrap {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
}

.menu {
  margin: 0;
  padding: 0;
  width: 14%;
  background: rgb(178, 202, 248);
}

.menu ul {
  list-style: none;
}

.menu ul li {
  margin: 10px auto 0 0;
  text-align: start;
}

.menu a {
  color: #3b5998;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  transition: 300ms;
}

.menu a:hover {
  color: #4c4c4c;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}

.sub_wrap {
  margin: 0;
  padding: 0;
  width: 85%;
}

.card {
  margin: 5px;
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card img {
  border-radius: 5px;
}

.card h2 {
  text-align: center;
  color: #3b5998;
}

.card p {
  text-align: justify;
  color: #4c4c4c;
  font-weight: bold;
}

.sub_card {
  margin: 0;
  padding: 5px;
}

.footer {
  margin: 0;
  padding: 30px;
  width: 100%;
  height: 240px;
  box-sizing: border-box;
  background: linear-gradient(90deg, white, cornflowerblue);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer_left {
  text-align: left;
  color: #3b5998;
}

.footer_right {
  justify-content: end;
  align-items: center;
}
